<!-- ---
import Layout from "../layouts/Layout.astro";
import { books } from "../data/books";

const { book } = Astro.params

const info = books.find(b => b.id === book)

if (!info) {
  return Astro.redirect("/404")
}
import B1_cerrada from "../components/three/B1_cerrada";

---

<div class="w-full h-full">
    <B1_cerrada />
</div> -->