---
import Three from "../components/Three.astro";
import Model from "../components/Model.jsx";
import ModelAlone from "../components/Model.jsx";
---

<Three client:load/>
<div class="m-auto w-2/3 grid grid-cols-2 md:grid-cols-4 gap-4 h-[55vh] border-8">
    <Model client:load/>
    <Model client:load/>
    <Model client:load/>
    <Model client:load/>
    <Model client:load/>
    <Model client:load/>
    <Model client:load/>
    <Model client:load/>
</div>

<ModelAlone/>