---
import Model from '../components/three/Model'
import Layout from '../layouts/Layout.astro';
---

<Layout title="david">
    <div class="m-auto w-2/3 flex justify-center gap-4 h-auto rounded-[]">
        <Model client:load/>
        <Model client:load/>
        <Model client:load/>
    </div>
</Layout>