---
import Catalogo from "../components/Catalogo.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="david">
    <div class="flex flex-cols-6">
        <Catalogo />
    </div>
</Layout>
