---
import TemplateCatalogo from "./TemplateCatalogo.astro";
// import { catalogo } from "src/data/catalogo";

const catalogo = [
    {
        id: '1',
        nombre: 'b1-cerrada',
        precio: 100,
        imagen: '/cajas/3D BANG CON FLAYERS.png'
    },
    {
        id: '2',
        nombre: 'b1-abierta',
        precio: 100,
        imagen: '/cajas/3D CHERRY.png'
    },
    {
        id: '3',
        nombre: 'bandeja',
        precio: 50,
        imagen: '/cajas/3D CUBREALARMAS.png'
    },
]

---

<ul class="flex flex-cols-6">
    {
        catalogo.map(({id, nombre, imagen}) => {
            return (
                <li>
                    <TemplateCatalogo id={id} nombre={nombre} imagen={imagen} />
                </li>
            )
        })
    }
</ul>