---
export interface Props {
    id: string
    nombre: string
    precio?: number
    imagen: string
}
const { id, nombre, imagen } = Astro.props;
---



<main>
    <a href={`/${id}`}>
        <!-- { console.log(id)} -->
        <img 
            src={imagen} 
            alt={nombre}
            class="w-full h-full"
            style={`view-transition-name: cata-${id};`}
        >
    </a>

</main>